@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao meu teste</h1>
    <p>Para acessar o cadastro de Contas, clique no botão abaixo:</p>
    <a class="btn btn-primary" asp-controller="Conta" asp-action="Index">Cadastro de Contas</a>    
</div>
